PROVIDER_CLIENT_ID="Your-Client-ID"
PROVIDER_CLIENT_SECRET="Your-Client-Secret"
PROVIDER_ISSUER="https://Youre-Project-ID.apse1.login.affinidi.io"
SCOPE="openid offline_access"

#CIS Config
CONFIGURATION_ID=""
BACKGROUND_CHECK_CREDENTIAL_TYPE_ID="AvvanzDigitalCredential"
PERSONAL_INFORMATION_CREDENTIAL_TYPE_ID="AvvanzPersonalInformationVerification"
ADDRESS_CREDENTIAL_TYPE_ID="AvvanzAddressVerification"
EDUCATION_CREDENTIAL_TYPE_ID="AvvanzEducationVerification"
EMPLOYMENT_CREDENTIAL_TYPE_ID="AvvanzEmploymentVerification"

#Iota Config Redirect flow : Callback should be is `http://localhost:5068/Iota`
IOTA_CONFIG_ID=""
IOTA_AVVANZ_CREDENTIAL_QUERY=""

# IDV Config Redirect flow : Callback should be is `http://localhost:5068/IDV`
IOTA_CONFIG_ID_IDV=""
IOTA_CREDENTIAL_QUERY_IDV_DL=""
IOTA_CREDENTIAL_QUERY_IDV_PASSPORT=""
IOTA_CREDENTIAL_QUERY_IDV_ANYDOC=""


# Personal Access Token Config
VAULT_URL="https://vault.affinidi.com"
API_GATEWAY_URL="https://apse1.api.affinidi.io"
TOKEN_ENDPOINT="https://apse1.auth.developer.affinidi.io/auth/oauth2/token"


PROJECT_ID=""
TOKEN_ID=""
PRIVATE_KEY=""

# Sign Credential Config

WALLET_ID=""
HOLDER_DID=""
PDF_SIGNATURE_JSON="https://schema.affinidi.io/TpdfSignatureV1R0.json"
PDF_SIGNATURE_JSONLD="https://schema.affinidi.io/TpdfSignatureV1R0.jsonld"
PDF_SIGNATURE_TYPE_ID="TpdfSignatureV1R0"
