@page
@model IndexModel
@{
    ViewData["Title"] = "Affinidi Reference App";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-body text-center">
                    <h2 class="display-5 mb-4" style="font-weight: 600; color: #2c3e50;">Dotnet 8.0 Reference Implementation</h2>
                    <div class="mb-4">
                        <p class="lead mb-2"><b>Click on Login to Experience Affinidi Login</b></p>

                    </div>
                    <p class="fw-bold mb-4">Learn more about <a href="https://docs.affinidi.com/docs" target="_blank">Affinidi Products and Services</a>.</p>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mb-4">
                        <div class="container-fluid justify-content-center">
                            <ul class="navbar-nav flex-column align-items-center w-100">
                                <li class="nav-item my-2 w-75">
                                    <a class="nav-link fw-bold w-100 text-center" href="/CredentialIssuance">Affinidi Credential Issuance Service</a>
                                </li>
                                <li class="nav-item my-2 w-75">
                                    <a class="nav-link fw-bold w-100 text-center" href="/Iota">Affinidi Iota Framework</a>
                                </li>
                                <li class="nav-item my-2 w-75">
                                    <a class="nav-link fw-bold w-100 text-center" href="/CredentialVerification">Affinidi Credential Verification</a>
                                </li>
                                <li class="nav-item my-2 w-75">
                                    <a class="nav-link fw-bold w-100 text-center" href="/IDV">Affinidi Identity Verification</a>
                                </li>
                                <li class="nav-item my-2 w-75">
                                    <a class="nav-link fw-bold w-100 text-center" href="/RevokeCredentials">Affinidi Revoke Credentials</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
